In [105]:
sc

In [5]:
import csv

In [160]:
spark

In [161]:
sqlContext

In [204]:
data =  sc.textFile('coalesce_joined_weather_collisions_sorted_fixed.csv')
df = spark.read.load('coalesce_joined_weather_collisions_sorted_fixed.csv', format='csv', header=True, inferSchema=False)
df.cache()


df.registerTempTable('df')



from pyspark.sql.types import IntegerType

inj_kil = ["NUMBER_OF_CYCLIST_INJURED",
"NUMBER_OF_CYCLIST_KILLED",
"NUMBER_OF_MOTORIST_INJURED",
"NUMBER_OF_MOTORIST_KILLED",
"NUMBER_OF_PEDESTRIANS_INJURED",
"NUMBER_OF_PEDESTRIANS_KILLED",
"NUMBER_OF_PERSONS_INJURED",
"NUMBER_OF_PERSONS_KILLED"]

for x in inj_kil:
    df = df.withColumn(x, df[x].cast(IntegerType()))

In [ ]:
if __name__=='__main__':
    sc = SparkContext()
    spark = SparkSession(sc)
    sqlContext = SQLContext(sc)    
    df = spark.read.load('hdfs:///user/dzeng01/project/joined_weather_collisions_sorted_fixed.csv', format='csv', header=True, inferSchema=False)
temp = spark.sql(query)

In [60]:
df.take(2)

[Row(BOROUGH=u'QUEENS', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'70 DRIVE', DATETIME=u'2016-06-20 21:06:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'0', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'0', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'METROPOLITAN AVENUE', UNIQUE_KEY=u'3465402', VEHICLE_TYPE_CODE_1=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_2=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11375', _c28=u'58671', Conditions=u'Clear', DateUTC=u'2016-06-21 01:51:00', DatetimeEDT=u'2016-06-20 21:51:00', Dew_PointF=u'63.0', Events=None, Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'60', LowVisibility=u'0', PrecipitationIn=u'N/A', Rain=u'0', Sea_Level_PressureIn=u'29.91', Snow=u'0', TemperatureF=u'78.1', TimeEDT=u'9:51 PM', VisibilityMPH=u'9.0', WindDirDegrees=u'0', Wind_Direction=u'Calm', Wind_SpeedMPH=u'Calm', Windy=u'0'),
 Row(BOROUGH=u'BROOKLYN', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=None, CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'HERKIMER STREET', DATETIME=u'2016-07-01 17:07:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'1', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'1', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'EASTERN PARKWAY', UNIQUE_KEY=u'3494165', VEHICLE_TYPE_CODE_1=u'MOTORCYCLE', VEHICLE_TYPE_CODE_2=None, VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11233', _c28=u'58975', Conditions=u'Light Rain', DateUTC=u'2016-07-01 21:34:00', DatetimeEDT=u'2016-07-01 17:34:00', Dew_PointF=u'66.9', Events=u'Rain', Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'84', LowVisibility=u'1', PrecipitationIn=u'0.01', Rain=u'1', Sea_Level_PressureIn=u'29.90', Snow=u'0', TemperatureF=u'72.0', TimeEDT=u'5:34 PM', VisibilityMPH=u'1.8', WindDirDegrees=u'0', Wind_Direction=u'Variable', Wind_SpeedMPH=u'4.6', Windy=u'0')]

In [182]:
df.dtypes

[('BOROUGH', 'string'),
 ('CONTRIBUTING_FACTOR_VEHICLE_1', 'string'),
 ('CONTRIBUTING_FACTOR_VEHICLE_2', 'string'),
 ('CONTRIBUTING_FACTOR_VEHICLE_3', 'string'),
 ('CONTRIBUTING_FACTOR_VEHICLE_4', 'string'),
 ('CONTRIBUTING_FACTOR_VEHICLE_5', 'string'),
 ('CROSS_STREET_NAME', 'string'),
 ('DATETIME', 'string'),
 ('LATITUDE', 'string'),
 ('LOCATION', 'string'),
 ('LONGITUDE', 'string'),
 ('NUMBER_OF_CYCLIST_INJURED', 'int'),
 ('NUMBER_OF_CYCLIST_KILLED', 'int'),
 ('NUMBER_OF_MOTORIST_INJURED', 'int'),
 ('NUMBER_OF_MOTORIST_KILLED', 'int'),
 ('NUMBER_OF_PEDESTRIANS_INJURED', 'int'),
 ('NUMBER_OF_PEDESTRIANS_KILLED', 'int'),
 ('NUMBER_OF_PERSONS_INJURED', 'int'),
 ('NUMBER_OF_PERSONS_KILLED', 'int'),
 ('OFF_STREET_NAME', 'string'),
 ('ON_STREET_NAME', 'string'),
 ('UNIQUE_KEY', 'string'),
 ('VEHICLE_TYPE_CODE_1', 'string'),
 ('VEHICLE_TYPE_CODE_2', 'string'),
 ('VEHICLE_TYPE_CODE_3', 'string'),
 ('VEHICLE_TYPE_CODE_4', 'string'),
 ('VEHICLE_TYPE_CODE_5', 'string'),
 ('ZIP_CODE', 'string'),
 ('_c28', 'string'),
 ('Conditions', 'string'),
 ('DateUTC', 'string'),
 ('DatetimeEDT', 'string'),
 ('Dew_PointF', 'string'),
 ('Events', 'string'),
 ('Freezing', 'string'),
 ('Gust_SpeedMPH', 'string'),
 ('Humidity', 'string'),
 ('LowVisibility', 'string'),
 ('PrecipitationIn', 'string'),
 ('Rain', 'string'),
 ('Sea_Level_PressureIn', 'string'),
 ('Snow', 'string'),
 ('TemperatureF', 'string'),
 ('TimeEDT', 'string'),
 ('VisibilityMPH', 'string'),
 ('WindDirDegrees', 'string'),
 ('Wind_Direction', 'string'),
 ('Wind_SpeedMPH', 'string'),
 ('Windy', 'string')]

In [41]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType
def filter_general(x):
    if x > 65:
        return float(x)
    else:
        return float(0)
    
gfg = udf(filter_general, FloatType())
newcol = df.withColumn("Dew_PointF", gfg("Dew_PointF"))
newcol.take(5)

[Row(BOROUGH=u'QUEENS', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'70 DRIVE', DATETIME=u'2016-06-20 21:06:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'0', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'0', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'METROPOLITAN AVENUE', UNIQUE_KEY=u'3465402', VEHICLE_TYPE_CODE_1=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_2=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11375', _c28=u'58671', Conditions=u'Clear', DateUTC=u'2016-06-21 01:51:00', DatetimeEDT=u'2016-06-20 21:51:00', Dew_PointF=63.0, Events=None, Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'60', LowVisibility=u'0', PrecipitationIn=u'N/A', Rain=u'0', Sea_Level_PressureIn=u'29.91', Snow=u'0', TemperatureF=u'78.1', TimeEDT=u'9:51 PM', VisibilityMPH=u'9.0', WindDirDegrees=u'0', Wind_Direction=u'Calm', Wind_SpeedMPH=u'Calm', Windy=u'0'),
 Row(BOROUGH=u'BROOKLYN', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=None, CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'HERKIMER STREET', DATETIME=u'2016-07-01 17:07:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'1', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'1', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'EASTERN PARKWAY', UNIQUE_KEY=u'3494165', VEHICLE_TYPE_CODE_1=u'MOTORCYCLE', VEHICLE_TYPE_CODE_2=None, VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11233', _c28=u'58975', Conditions=u'Light Rain', DateUTC=u'2016-07-01 21:34:00', DatetimeEDT=u'2016-07-01 17:34:00', Dew_PointF=66.9000015258789, Events=u'Rain', Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'84', LowVisibility=u'1', PrecipitationIn=u'0.01', Rain=u'1', Sea_Level_PressureIn=u'29.90', Snow=u'0', TemperatureF=u'72.0', TimeEDT=u'5:34 PM', VisibilityMPH=u'1.8', WindDirDegrees=u'0', Wind_Direction=u'Variable', Wind_SpeedMPH=u'4.6', Windy=u'0'),
 Row(BOROUGH=None, CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=None, DATETIME=u'2016-07-04 16:07:00', LATITUDE=u'40.861425', LOCATION=u'(40.861425, -73.8280022)', LONGITUDE=u'-73.8280022', NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'0', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'0', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=None, UNIQUE_KEY=u'3479026', VEHICLE_TYPE_CODE_1=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_2=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=None, _c28=u'59058', Conditions=u'Scattered Clouds', DateUTC=u'2016-07-04 20:51:00', DatetimeEDT=u'2016-07-04 16:51:00', Dew_PointF=61.0, Events=None, Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'56', LowVisibility=u'0', PrecipitationIn=u'N/A', Rain=u'0', Sea_Level_PressureIn=u'30.00', Snow=u'0', TemperatureF=u'78.1', TimeEDT=u'4:51 PM', VisibilityMPH=u'9.0', WindDirDegrees=u'0', Wind_Direction=u'North', Wind_SpeedMPH=u'-9999.0', Windy=u'0'),
 Row(BOROUGH=u'BROOKLYN', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=None, CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'60 STREET', DATETIME=u'2016-07-04 18:07:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'1', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'1', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'8 AVENUE', UNIQUE_KEY=u'3475644', VEHICLE_TYPE_CODE_1=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_2=None, VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11220', _c28=u'59060', Conditions=u'Overcast', DateUTC=u'2016-07-04 22:51:00', DatetimeEDT=u'2016-07-04 18:51:00', Dew_PointF=66.0, Events=None, Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'71', LowVisibility=u'0', PrecipitationIn=u'N/A', Rain=u'0', Sea_Level_PressureIn=u'29.96', Snow=u'0', TemperatureF=u'75.9', TimeEDT=u'6:51 PM', VisibilityMPH=u'8.0', WindDirDegrees=u'0', Wind_Direction=u'Variable', Wind_SpeedMPH=u'3.5', Windy=u'0'),
 Row(BOROUGH=u'BROOKLYN', CONTRIBUTING_FACTOR_VEHICLE_1=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_2=u'Unspecified', CONTRIBUTING_FACTOR_VEHICLE_3=None, CONTRIBUTING_FACTOR_VEHICLE_4=None, CONTRIBUTING_FACTOR_VEHICLE_5=None, CROSS_STREET_NAME=u'81 STREET', DATETIME=u'2016-07-13 13:07:00', LATITUDE=None, LOCATION=None, LONGITUDE=None, NUMBER_OF_CYCLIST_INJURED=u'0', NUMBER_OF_CYCLIST_KILLED=u'0', NUMBER_OF_MOTORIST_INJURED=u'0', NUMBER_OF_MOTORIST_KILLED=u'0', NUMBER_OF_PEDESTRIANS_INJURED=u'0', NUMBER_OF_PEDESTRIANS_KILLED=u'0', NUMBER_OF_PERSONS_INJURED=u'0', NUMBER_OF_PERSONS_KILLED=u'0', OFF_STREET_NAME=None, ON_STREET_NAME=u'5 AVENUE', UNIQUE_KEY=u'3480955', VEHICLE_TYPE_CODE_1=u'PASSENGER VEHICLE', VEHICLE_TYPE_CODE_2=u'OTHER', VEHICLE_TYPE_CODE_3=None, VEHICLE_TYPE_CODE_4=None, VEHICLE_TYPE_CODE_5=None, ZIP_CODE=u'11209', _c28=u'59334', Conditions=u'Overcast', DateUTC=u'2016-07-13 17:51:00', DatetimeEDT=u'2016-07-13 13:51:00', Dew_PointF=68.0, Events=None, Freezing=u'0', Gust_SpeedMPH=u'-', Humidity=u'65', LowVisibility=u'0', PrecipitationIn=u'N/A', Rain=u'0', Sea_Level_PressureIn=u'30.05', Snow=u'0', TemperatureF=u'81.0', TimeEDT=u'1:51 PM', VisibilityMPH=u'9.0', WindDirDegrees=u'0', Wind_Direction=u'Variable', Wind_SpeedMPH=u'5.8', Windy=u'0')]

DataFrame[BOROUGH: string, CONTRIBUTING_FACTOR_VEHICLE_1: string, CONTRIBUTING_FACTOR_VEHICLE_2: string, CONTRIBUTING_FACTOR_VEHICLE_3: string, CONTRIBUTING_FACTOR_VEHICLE_4: string, CONTRIBUTING_FACTOR_VEHICLE_5: string, CROSS_STREET_NAME: string, DATETIME: string, LATITUDE: string, LOCATION: string, LONGITUDE: string, NUMBER_OF_CYCLIST_INJURED: string, NUMBER_OF_CYCLIST_KILLED: string, NUMBER_OF_MOTORIST_INJURED: string, NUMBER_OF_MOTORIST_KILLED: string, NUMBER_OF_PEDESTRIANS_INJURED: string, NUMBER_OF_PEDESTRIANS_KILLED: string, NUMBER_OF_PERSONS_INJURED: string, NUMBER_OF_PERSONS_KILLED: string, OFF_STREET_NAME: string, ON_STREET_NAME: string, UNIQUE_KEY: string, VEHICLE_TYPE_CODE_1: string, VEHICLE_TYPE_CODE_2: string, VEHICLE_TYPE_CODE_3: string, VEHICLE_TYPE_CODE_4: string, VEHICLE_TYPE_CODE_5: string, ZIP_CODE: string, _c28: string, Conditions: string, DateUTC: string, DatetimeEDT: string, Dew_PointF: string, Events: string, Freezing: string, Gust_SpeedMPH: string, Humidity: string, LowVisibility: string, PrecipitationIn: string, Rain: string, Sea_Level_PressureIn: string, Snow: string, TemperatureF: string, TimeEDT: string, VisibilityMPH: string, WindDirDegrees: string, Wind_Direction: string, Wind_SpeedMPH: string, Windy: string]

In [240]:
# sqlContext.sql('select * from df where Rain=1')
from pyspark.sql.functions import col
from calendar import monthrange
import json


#date = ""

# Yearly statistics


def months(x):
    month = {1:"January",
             2:"Feburary",
             3:"March",
             4:"April",
             5:"May",
             6:"June",
             7:"July",
             8:"August",
             9:"September",
             10:"October",
             11:"November",
             12:"December"}
    return str(month[x])



for yr in range(16,18):
    
    #### This should be code that will read in each csv for each year and register as df.
    stats = {}
    stats["0_YEAR"] = int(str(20)+str(yr))   
    
    
    ## Overall Statistics
    stats['Overall'] = {}
    m_arr = []
    mi_arr = []
    md_arr = []
    
    """PREPROCESSING"""
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where DATETIME like "{0}"'.format(date)
        m_arr.append((x, sqlContext.sql(query).count())) 
    total = sum([x[1] for x in m_arr])
        
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where DATETIME like "{0}" and ( \
                                                                NUMBER_OF_CYCLIST_INJURED!=0 or \
                                                                NUMBER_OF_MOTORIST_INJURED!=0 or \
                                                                NUMBER_OF_PEDESTRIANS_INJURED!=0 or \
                                                                NUMBER_OF_PERSONS_INJURED!=0)'.format(date)
        mi_arr.append((x, sqlContext.sql(query).count()))   
    injury_total = sum([x[1] for x in mi_arr])
    
    
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where DATETIME like "{0}" and ( \
                                                                NUMBER_OF_CYCLIST_KILLED!=0 or \
                                                                NUMBER_OF_MOTORIST_KILLED!=0 or \
                                                                NUMBER_OF_PEDESTRIANS_KILLED!=0 or \
                                                                NUMBER_OF_PERSONS_KILLED!=0)'.format(date)
        md_arr.append((x, sqlContext.sql(query).count()))   
    death_total = sum([x[1] for x in md_arr])
    
    # Statistics
    stats['Overall']['Total Number of Collisions in Year'] = total
    stats['Overall']['Total Number of Collisions w/ Injury in Year'] = injury_total
    stats['Overall']['Total Number of Collisions w/ Death in Year'] = death_total
    stats['Overall']['Average Collisions Per Month'] = total // 12
    stats['Overall']['Average Collisions Per Day'] = total // 365
    stats['Overall']['Monthly Adjusted Average Weight (%)'] = [str(
                                                                (months(x+1), round((float(m_arr[x][1])/float(total)*100.0),2))
                                                                ) for x in range(0,12)]
    stats['Overall']['Collisions Per Month'] = [str(
                                                (months(x+1), m_arr[x][1])
                                                ) for x in range(0,12)]
    stats['Overall']['Average Collisions Per Day (Monthly)'] = [str(
                                                                (months(x+1), m_arr[x][1]/monthrange(int(str(20)+str(yr)), x+1)[1])
                                                                ) for x in range(0,12)]
    stats['Overall']['Injury Rate (Year %)'] = float(injury_total)/float(total) * 100.00
    stats['Overall']['Death Rate (Year %)'] = float(death_total)/float(total) * 100.00
    stats['Overall']['Number of Collisions w/ Injuries Per Month'] = [str(
                                                                    (months(x+1), mi_arr[x][1])
                                                                    ) for x in range(0,12)]
    stats['Overall']['Number of Collisions w/ Deaths Per Month'] = [str(
                                                                    (months(x+1), md_arr[x][1])
                                                                    ) for x in range(0,12)]
    stats['Overall']['Injury Rate Per Month (Month %)'] = [str(
                                                        (months(x+1), round((float(mi_arr[x][1])/float(m_arr[x][1]) * 100.00),2))
                                                        ) for x in range(0,12) if m_arr[x][1] != 0]
    stats['Overall']['Death Rate Per Month (Month %)'] = [str(
                                                        (months(x+1), round((float(md_arr[x][1])/float(m_arr[x][1]) * 100.00),2))
                                                        ) for x in range(0,12) if m_arr[x][1] != 0]
    
    # Rain Statistics
    stats['Rain'] = {}
    r_arr = []
    ri_arr = []
    rd_arr = []

    """PREPROCESSING"""
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where Rain="1" and DATETIME like "{0}"'.format(date)
        r_arr.append((x, sqlContext.sql(query).count()))
    rain_total = sum([x[1] for x in r_arr])
    
    
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where Rain="1" and DATETIME like "{0}" and ( \
                                                                NUMBER_OF_CYCLIST_INJURED!=0 or \
                                                                NUMBER_OF_MOTORIST_INJURED!=0 or \
                                                                NUMBER_OF_PEDESTRIANS_INJURED!=0 or \
                                                                NUMBER_OF_PERSONS_INJURED!=0)'.format(date)
        ri_arr.append((x, sqlContext.sql(query).count()))
    rain_injury_total = sum([x[1] for x in ri_arr])
    
    
    for x in range(1,13):
        date = "20{1}-0{0}%".format(x, yr) if x < 10 else "20{1}-{0}%".format(x, yr)
        query = 'select * from df where Rain="1" and DATETIME like "{0}" and ( \
                                                                NUMBER_OF_CYCLIST_KILLED!=0 or \
                                                                NUMBER_OF_MOTORIST_KILLED!=0 or \
                                                                NUMBER_OF_PEDESTRIANS_KILLED!=0 or \
                                                                NUMBER_OF_PERSONS_KILLED!=0)'.format(date)
        rd_arr.append((x, sqlContext.sql(query).count()))
    rain_death_total = sum([x[1] for x in rd_arr])
    
    
    
    # Statistics
    stats['Rain']['Total Number of Collisions w/ Injury & Rain in Year'] = rain_injury_total
    stats['Rain']['Total Number of Collisions w/ Death & Rain in Year'] = rain_death_total
    stats['Rain']['Injury Rate w/ Rain (Year %)'] = float(rain_injury_total)/float(rain_total) * 100.00
    stats['Rain']['Death Rate w/ Rain (Year %)'] = float(rain_death_total)/float(rain_total) * 100.00
    stats['Rain']['Total Number of Rain Collisions in Year'] = rain_total
    stats['Rain']['Percent of Collisions in Rain Over Year (%)'] = (float(rain_total) / float(total)) * 100.00
    stats['Rain']['Collisions in Rain'] = [str(
                                        (months(x+1), r_arr[x][1])
                                        ) for x in range(0,12)]
    stats['Rain']['Average Collisions in Rain Per Month'] = rain_total//12
    stats['Rain']['Number of Collisions w/ Injuries and Rain Per Month'] = [str(
                                                                            (months(x+1), ri_arr[x][1])
                                                                            ) for x in range(0,12)]
    stats['Rain']['Number of Collisions w/ Deaths and Rain Per Month'] = [str(
                                                                            (months(x+1), rd_arr[x][1])
                                                                            ) for x in range(0,12)]
    stats['Rain']['Percent of Collisions in Each Month That Are Rain Collisions (Rain %)'] = [str(
                                                            (months(x+1), round((float(r_arr[x][1])/float(m_arr[x][1]))*100.0, 2))
                                                            ) for x in range(0,12) if m_arr[x][1] != 0]
    stats['Rain']['Injury Rate Per Month w/ Rain (Month %)'] = [str(
                                                            (months(x+1), round((float(ri_arr[x][1])/float(r_arr[x][1]) * 100.00),2))
                                                            ) for x in range(0,12) if r_arr[x][1] != 0]
    stats['Rain']['Death Rate Per Month w/ Rain (Month %)'] = [str(
                                                            (months(x+1), round((float(rd_arr[x][1])/float(r_arr[x][1]) * 100.00),2))
                                                            ) for x in range(0,12) if r_arr[x][1] != 0]
    
    
    
    print json.dumps(stats, indent=4, sort_keys=True)
    #print stats


# print arr

# Monthly Statistics

# for x in [date]:
    
#     a = sqlContext.sql('select * from df where Rain=1')
#     a.coalesce(1).write.csv('rain', header=True)

#     a = sqlContext.sql('select * from df where Snow=1')
#     a.coalesce(1).write.csv('snow', header=True)

#     a = sqlContext.sql('select * from df where Freezing=1')
#     a.coalesce(1).write.csv('freezing', header=True)

#     a = sqlContext.sql('select * from df where LowVisibility=1')
#     a.coalesce(1).write.csv('foggy', header=True)

#     a = sqlContext.sql('select * from df where Windy=1')
#     a.coalesce(1).write.csv('windy', header=True)


# df = df.filter(df.LATITUDE != '0')

# from pyspark.sql.functions import col


# a = df.where(col("LOCATION").isNotNull())
# a.coalesce(1).write.csv('geodata', header=True)

{
    "0_YEAR": 2016,
    "Overall": {
        "Average Collisions Per Day": 295,
        "Average Collisions Per Day (Monthly)": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 339)",
            "('August', 634)",
            "('September', 649)",
            "('October', 634)",
            "('November', 641)",
            "('December', 616)"
        ],
        "Average Collisions Per Month": 8974,
        "Collisions Per Month": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 1)",
            "('July', 10516)",
            "('August', 19672)",
            "('September', 19491)",
            "('October', 19659)",
            "('November', 19235)",
            "('December', 19118)"
        ],
        "Death Rate (Year %)": 0.1002860008171452,
        "Death Rate Per Month (Month %)": [
            "('June', 0.0)",
            "('July', 0.06)",
            "('August', 0.13)",
            "('September', 0.09)",
            "('October', 0.11)",
            "('November', 0.09)",
            "('December', 0.12)"
        ],
        "Injury Rate (Year %)": 19.830628087508824,
        "Injury Rate Per Month (Month %)": [
            "('June', 0.0)",
            "('July', 19.04)",
            "('August', 20.37)",
            "('September', 20.62)",
            "('October', 19.86)",
            "('November', 19.9)",
            "('December', 18.8)"
        ],
        "Monthly Adjusted Average Weight (%)": [
            "('January', 0.0)",
            "('Feburary', 0.0)",
            "('March', 0.0)",
            "('April', 0.0)",
            "('May', 0.0)",
            "('June', 0.0)",
            "('July', 9.76)",
            "('August', 18.27)",
            "('September', 18.1)",
            "('October', 18.25)",
            "('November', 17.86)",
            "('December', 17.75)"
        ],
        "Number of Collisions w/ Deaths Per Month": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 6)",
            "('August', 25)",
            "('September', 17)",
            "('October', 21)",
            "('November', 17)",
            "('December', 22)"
        ],
        "Number of Collisions w/ Injuries Per Month": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 2002)",
            "('August', 4008)",
            "('September', 4020)",
            "('October', 3904)",
            "('November', 3828)",
            "('December', 3594)"
        ],
        "Total Number of Collisions in Year": 107692,
        "Total Number of Collisions w/ Death in Year": 108,
        "Total Number of Collisions w/ Injury in Year": 21356
    },
    "Rain": {
        "Average Collisions in Rain Per Month": 556,
        "Collisions in Rain": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 931)",
            "('August', 464)",
            "('September', 1166)",
            "('October', 1439)",
            "('November', 1718)",
            "('December', 958)"
        ],
        "Death Rate Per Month w/ Rain (Month %)": [
            "('July', 0.0)",
            "('August', 0.22)",
            "('September', 0.17)",
            "('October', 0.07)",
            "('November', 0.0)",
            "('December', 0.1)"
        ],
        "Death Rate w/ Rain (Year %)": 0.07489514679448772,
        "Injury Rate Per Month w/ Rain (Month %)": [
            "('July', 21.7)",
            "('August', 25.65)",
            "('September', 20.84)",
            "('October', 20.29)",
            "('November', 23.57)",
            "('December', 22.44)"
        ],
        "Injury Rate w/ Rain (Year %)": 22.10904733373277,
        "Number of Collisions w/ Deaths and Rain Per Month": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 1)",
            "('September', 2)",
            "('October', 1)",
            "('November', 0)",
            "('December', 1)"
        ],
        "Number of Collisions w/ Injuries and Rain Per Month": [
            "('January', 0)",
            "('Feburary', 0)",
            "('March', 0)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 202)",
            "('August', 119)",
            "('September', 243)",
            "('October', 292)",
            "('November', 405)",
            "('December', 215)"
        ],
        "Percent of Collisions in Each Month That Are Rain Collisions (Rain %)": [
            "('June', 0.0)",
            "('July', 8.85)",
            "('August', 2.36)",
            "('September', 5.98)",
            "('October', 7.32)",
            "('November', 8.93)",
            "('December', 5.01)"
        ],
        "Percent of Collisions in Rain Over Year (%)": 6.199160569030197,
        "Total Number of Collisions w/ Death & Rain in Year": 5,
        "Total Number of Collisions w/ Injury & Rain in Year": 1476,
        "Total Number of Rain Collisions in Year": 6676
    }
}
{
    "0_YEAR": 2017,
    "Overall": {
        "Average Collisions Per Day": 166,
        "Average Collisions Per Day (Monthly)": [
            "('January', 556)",
            "('Feburary', 552)",
            "('March', 616)",
            "('April', 294)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Average Collisions Per Month": 5054,
        "Collisions Per Month": [
            "('January', 17247)",
            "('Feburary', 15467)",
            "('March', 19109)",
            "('April', 8825)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Death Rate (Year %)": 0.0873895264476982,
        "Death Rate Per Month (Month %)": [
            "('January', 0.1)",
            "('Feburary', 0.08)",
            "('March', 0.08)",
            "('April', 0.09)"
        ],
        "Injury Rate (Year %)": 18.25122015565229,
        "Injury Rate Per Month (Month %)": [
            "('January', 19.35)",
            "('Feburary', 18.66)",
            "('March', 17.11)",
            "('April', 17.85)"
        ],
        "Monthly Adjusted Average Weight (%)": [
            "('January', 28.44)",
            "('Feburary', 25.5)",
            "('March', 31.51)",
            "('April', 14.55)",
            "('May', 0.0)",
            "('June', 0.0)",
            "('July', 0.0)",
            "('August', 0.0)",
            "('September', 0.0)",
            "('October', 0.0)",
            "('November', 0.0)",
            "('December', 0.0)"
        ],
        "Number of Collisions w/ Deaths Per Month": [
            "('January', 18)",
            "('Feburary', 12)",
            "('March', 15)",
            "('April', 8)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Number of Collisions w/ Injuries Per Month": [
            "('January', 3338)",
            "('Feburary', 2886)",
            "('March', 3270)",
            "('April', 1575)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Total Number of Collisions in Year": 60648,
        "Total Number of Collisions w/ Death in Year": 53,
        "Total Number of Collisions w/ Injury in Year": 11069
    },
    "Rain": {
        "Average Collisions in Rain Per Month": 342,
        "Collisions in Rain": [
            "('January', 1876)",
            "('Feburary', 424)",
            "('March', 1423)",
            "('April', 386)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Death Rate Per Month w/ Rain (Month %)": [
            "('January', 0.11)",
            "('Feburary', 0.0)",
            "('March', 0.07)",
            "('April', 0.0)"
        ],
        "Death Rate w/ Rain (Year %)": 0.07301046483329277,
        "Injury Rate Per Month w/ Rain (Month %)": [
            "('January', 25.53)",
            "('Feburary', 23.58)",
            "('March', 18.9)",
            "('April', 17.1)"
        ],
        "Injury Rate w/ Rain (Year %)": 22.2438549525432,
        "Number of Collisions w/ Deaths and Rain Per Month": [
            "('January', 2)",
            "('Feburary', 0)",
            "('March', 1)",
            "('April', 0)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Number of Collisions w/ Injuries and Rain Per Month": [
            "('January', 479)",
            "('Feburary', 100)",
            "('March', 269)",
            "('April', 66)",
            "('May', 0)",
            "('June', 0)",
            "('July', 0)",
            "('August', 0)",
            "('September', 0)",
            "('October', 0)",
            "('November', 0)",
            "('December', 0)"
        ],
        "Percent of Collisions in Each Month That Are Rain Collisions (Rain %)": [
            "('January', 10.88)",
            "('Feburary', 2.74)",
            "('March', 7.45)",
            "('April', 4.37)"
        ],
        "Percent of Collisions in Rain Over Year (%)": 6.775161588180979,
        "Total Number of Collisions w/ Death & Rain in Year": 3,
        "Total Number of Collisions w/ Injury & Rain in Year": 914,
        "Total Number of Rain Collisions in Year": 4109
    }
}

In [186]:
print(float(217417) / float(35408))

6.1403355174

In [205]:
        query = 'select sum(NUMBER_OF_CYCLIST_INJURED) from df'
        a = sqlContext.sql(query)

In [241]:
df.groupBy("CONTRIBUTING_FACTOR_VEHICLE_1").count().orderBy('count', ascending=False).show()

+-----------------------------+-----+
|CONTRIBUTING_FACTOR_VEHICLE_1|count|
+-----------------------------+-----+
|                  Unspecified|69089|
|         Driver Inattentio...|31844|
|         Following Too Clo...|12476|
|         Failure to Yield ...| 9245|
|             Backing Unsafely| 6257|
|         Passing or Lane U...| 6065|
|         Unsafe Lane Changing| 5075|
|              Other Vehicular| 3718|
|           Turning Improperly| 3433|
|          Driver Inexperience| 2429|
|         Traffic Control D...| 2379|
|                 Unsafe Speed| 2166|
|         Reaction to Other...| 2160|
|            Pavement Slippery| 1886|
|          Alcohol Involvement| 1557|
|         View Obstructed/L...|  983|
|            Oversized Vehicle|  953|
|                         null|  912|
|         Pedestrian/Bicycl...|  893|
|         Aggressive Drivin...|  581|
+-----------------------------+-----+
only showing top 20 rows

In [236]:
from pyspark.sql.functions import col
test = df.filter(col('DATETIME').like("2016-11%")).groupBy("NUMBER_OF_CYCLIST_INJURED").count().orderBy('count', ascending=False).rdd.map(lambda x: (x['NUMBER_OF_CYCLIST_INJURED'], x['count'])).collect()

In [237]:
test

[(0, 18847), (1, 361), (2, 25), (3, 2)]

In [233]:
df.filter(col('DATETIME').like("2016-10%"))

DataFrame[BOROUGH: string, CONTRIBUTING_FACTOR_VEHICLE_1: string, CONTRIBUTING_FACTOR_VEHICLE_2: string, CONTRIBUTING_FACTOR_VEHICLE_3: string, CONTRIBUTING_FACTOR_VEHICLE_4: string, CONTRIBUTING_FACTOR_VEHICLE_5: string, CROSS_STREET_NAME: string, DATETIME: string, LATITUDE: string, LOCATION: string, LONGITUDE: string, NUMBER_OF_CYCLIST_INJURED: int, NUMBER_OF_CYCLIST_KILLED: int, NUMBER_OF_MOTORIST_INJURED: int, NUMBER_OF_MOTORIST_KILLED: int, NUMBER_OF_PEDESTRIANS_INJURED: int, NUMBER_OF_PEDESTRIANS_KILLED: int, NUMBER_OF_PERSONS_INJURED: int, NUMBER_OF_PERSONS_KILLED: int, OFF_STREET_NAME: string, ON_STREET_NAME: string, UNIQUE_KEY: string, VEHICLE_TYPE_CODE_1: string, VEHICLE_TYPE_CODE_2: string, VEHICLE_TYPE_CODE_3: string, VEHICLE_TYPE_CODE_4: string, VEHICLE_TYPE_CODE_5: string, ZIP_CODE: string, _c28: string, Conditions: string, DateUTC: string, DatetimeEDT: string, Dew_PointF: string, Events: string, Freezing: string, Gust_SpeedMPH: string, Humidity: string, LowVisibility: string, PrecipitationIn: string, Rain: string, Sea_Level_PressureIn: string, Snow: string, TemperatureF: string, TimeEDT: string, VisibilityMPH: string, WindDirDegrees: string, Wind_Direction: string, Wind_SpeedMPH: string, Windy: string]

In [242]:
df.select("LOCATION").groupBy("LOCATION").count().orderBy('count', ascending=False).show()

+--------------------+-----+
|            LOCATION|count|
+--------------------+-----+
|                null|63518|
|(40.7197624, -73....|   70|
|(40.608757, -74.0...|   60|
|(40.79522, -73.92...|   56|
|(40.6916827, -73....|   47|
|(40.6960346, -73....|   45|
|(40.8047, -73.91243)|   43|
|(40.820189, -73.8...|   37|
|(40.820305, -73.8...|   36|
|(40.7044959, -73....|   36|
|(40.79537, -73.92...|   36|
|(40.8451897, -73....|   36|
|(40.7014547, -73....|   34|
|(40.602806, -74.0...|   34|
|(40.7606, -73.96434)|   33|
|(40.798256, -73.8...|   33|
|(40.7606005, -73....|   33|
|(40.8360929, -73....|   33|
|(40.696033, -73.9...|   32|
|(40.861862, -73.9...|   32|
+--------------------+-----+
only showing top 20 rows

In [243]:
df.select("LOCATION").groupBy("LOCATION").count().orderBy('count', ascending=False).rdd.flatMap(lambda x: x).collect()

[None,
 63518,
 u'(40.7197624, -73.9447576)',
 70,
 u'(40.608757, -74.038086)',
 60,
 u'(40.79522, -73.921524)',
 56,
 u'(40.6916827, -73.9993335)',
 47,
 u'(40.6960346, -73.9845292)',
 45,
 u'(40.8047, -73.91243)',
 43,
 u'(40.820189, -73.8906752)',
 37,
 u'(40.820305, -73.89083)',
 36,
 u'(40.79537, -73.921974)',
 36,
 u'(40.7044959, -73.817418)',
 36,
 u'(40.8451897, -73.9111894)',
 36,
 u'(40.7014547, -73.9896203)',
 34,
 u'(40.602806, -74.062874)',
 34,
 u'(40.8360929, -73.8703818)',
 33,
 u'(40.7606005, -73.9643142)',
 33,
 u'(40.7606, -73.96434)',
 33,
 u'(40.798256, -73.82744)',
 33,
 u'(40.861862, -73.91282)',
 32,
 u'(40.696033, -73.98453)',
 32,
 u'(40.704422, -73.99491)',
 31,
 u'(40.604313, -74.05208)',
 31,
 u'(40.7460781, -73.9749359)',
 31,
 u'(40.805435, -73.9208602)',
 31,
 u'(40.756096, -73.74655)',
 30,
 u'(40.608364, -74.038666)',
 30,
 u'(40.5861184, -73.9360334)',
 30,
 u'(40.688922, -73.9991472)',
 30,
 u'(40.6915381, -73.99911)',
 29,
 u'(40.7615508, -73.9665842)',
 28,
 u'(40.8618642, -73.9127392)',
 28,
 u'(40.8171184, -73.8830681)',
 28,
 u'(40.7334973, -73.8703694)',
 27,
 u'(40.8040684, -73.9311544)',
 27,
 u'(40.7821423, -73.8248379)',
 26,
 u'(40.6977532, -73.8139159)',
 26,
 u'(40.7203211, -73.9940403)',
 26,
 u'(40.6731102, -73.9995814)',
 26,
 u'(40.6083089, -74.1313061)',
 26,
 u'(40.8571285, -73.8807926)',
 26,
 u'(40.8137456, -73.9313928)',
 26,
 u'(40.759626, -73.9954735)',
 26,
 u'(40.83801, -73.87329)',
 25,
 u'(40.72032, -73.99404)',
 25,
 u'(40.7608228, -73.9983142)',
 25,
 u'(40.77077, -73.91727)',
 25,
 u'(40.8450624, -73.9168471)',
 25,
 u'(40.826275, -73.85971)',
 24,
 u'(40.604153, -74.05198)',
 24,
 u'(40.6518653, -73.8653425)',
 24,
 u'(40.6936625, -73.8521639)',
 24,
 u'(40.658577, -73.89063)',
 24,
 u'(40.6339615, -74.0147538)',
 24,
 u'(40.7375562, -73.8508811)',
 24,
 u'(40.7570213, -74.004927)',
 24,
 u'(40.7007397, -73.9949795)',
 24,
 u'(40.7031657, -73.8166124)',
 23,
 u'(40.633111, -73.9721609)',
 23,
 u'(40.8380117, -73.8732802)',
 23,
 u'(0.0, 0.0)',
 23,
 u'(40.696198, -73.98869)',
 23,
 u'(40.7688772, -73.9489716)',
 23,
 u'(40.6079204, -74.1389113)',
 22,
 u'(40.8751241, -73.905168)',
 22,
 u'(40.762025, -74.0011515)',
 22,
 u'(40.7136, -74.0091)',
 22,
 u'(40.759308, -73.9652931)',
 22,
 u'(40.72895, -73.9279233)',
 22,
 u'(40.6999314, -73.9618791)',
 22,
 u'(40.7494725, -73.7563932)',
 22,
 u'(40.69168, -73.999344)',
 21,
 u'(40.7139775, -73.9530878)',
 21,
 u'(40.6672401, -73.7699963)',
 21,
 u'(40.6781627, -73.8974769)',
 21,
 u'(40.7850321, -73.9405708)',
 21,
 u'(40.75548, -73.74173)',
 21,
 u'(40.6757357, -73.8968533)',
 21,
 u'(40.6561603, -73.7673526)',
 21,
 u'(40.7225802, -73.9404817)',
 21,
 u'(40.6911938, -73.9977679)',
 21,
 u'(40.7639012, -73.9532241)',
 21,
 u'(40.76155, -73.96659)',
 21,
 u'(40.675735, -73.89686)',
 20,
 u'(40.845106, -73.9149331)',
 20,
 u'(40.7967991, -73.9293693)',
 20,
 u'(40.7448949, -73.7702044)',
 20,
 u'(40.737785, -73.93496)',
 20,
 u'(40.844917, -73.926384)',
 20,
 u'(40.72545, -73.837776)',
 20,
 u'(40.6317075, -73.946481)',
 20,
 u'(40.6306327, -74.0092229)',
 20,
 u'(40.8782895, -73.8700582)',
 20,
 u'(40.7554843, -73.7417243)',
 20,
 u'(40.8441075, -73.8979971)',
 19,
 u'(40.7612344, -73.9638843)',
 19,
 u'(40.6913, -73.9277)',
 19,
 u'(40.838846, -73.8781619)',
 19,
 u'(40.677654, -73.82866)',
 19,
 u'(40.642174, -74.02064)',
 19,
 u'(40.768875, -73.94898)',
 19,
 u'(40.816864, -73.882744)',
 19,
 u'(40.66612, -73.82225)',
 19,
 u'(40.6667525, -73.7799356)',
 19,
 u'(40.7087666, -73.9981083)',
 19,
 u'(40.7426584, -73.8462052)',
 19,
 u'(40.6776719, -73.828758)',
 19,
 u'(40.7199725, -73.9928968)',
 18,
 u'(40.878643, -73.871605)',
 18,
 u'(40.7349824, -73.861387)',
 18,
 u'(40.6517331, -73.930381)',
 18,
 u'(40.668797, -73.93113)',
 18,
 u'(40.749714, -73.93617)',
 18,
 u'(40.7384163, -73.8489844)',
 18,
 u'(40.816532, -73.92822)',
 18,
 u'(40.6585778, -73.8906229)',
 18,
 u'(40.8453518, -73.9281973)',
 18,
 u'(40.7241363, -73.9926041)',
 18,
 u'(40.7476292, -73.9767362)',
 18,
 u'(40.5858421, -73.9378751)',
 18,
 u'(40.6887701, -73.999062)',
 18,
 u'(40.7609059, -73.9669961)',
 18,
 u'(40.6663098, -73.7916994)',
 18,
 u'(40.8687708, -73.8317333)',
 18,
 u'(40.7333796, -73.8666495)',
 18,
 u'(40.84519, -73.9112)',
 18,
 u'(40.704033, -73.81711)',
 18,
 u'(40.8027515, -73.933575)',
 18,
 u'(40.68532, -73.98071)',
 18,
 u'(40.724136, -73.992615)',
 18,
 u'(40.7520589, -74.0009817)',
 18,
 u'(40.691536, -73.99912)',
 18,
 u'(40.6528929, -73.8667311)',
 18,
 u'(40.7170151, -73.8297)',
 18,
 u'(40.6966659, -73.9808413)',
 18,
 u'(40.7338472, -73.8715775)',
 18,
 u'(40.7381972, -73.8491906)',
 18,
 u'(40.752052, -74.000984)',
 17,
 u'(40.666233, -73.761)',
 17,
 u'(40.7595778, -73.9680255)',
 17,
 u'(40.7713071, -73.8766313)',
 17,
 u'(40.6299872, -73.9715677)',
 17,
 u'(40.696197, -73.9887629)',
 17,
 u'(40.6320672, -73.9186024)',
 17,
 u'(40.672888, -73.9992169)',
 17,
 u'(40.722584, -74.00636)',
 17,
 u'(40.5704668, -74.1097619)',
 17,
 u'(40.816535, -73.9282179)',
 17,
 u'(40.71976, -73.94476)',
 17,
 u'(40.8478982, -73.9452163)',
 17,
 u'(40.700737, -73.99499)',
 17,
 u'(40.8185601, -73.9273161)',
 17,
 u'(40.6649593, -73.8222478)',
 17,
 u'(40.69613, -73.987114)',
 17,
 u'(40.7599831, -73.9648018)',
 17,
 u'(40.877068, -73.906105)',
 17,
 u'(40.759514, -73.99926)',
 17,
 u'(40.895374, -73.86356)',
 17,
 u'(40.7583082, -73.9629257)',
 17,
 u'(40.76663, -73.88903)',
 17,
 u'(40.6673505, -73.7699326)',
 17,
 u'(40.8071867, -73.9242798)',
 16,
 u'(40.666439, -73.8347735)',
 16,
 u'(40.761276, -73.9557002)',
 16,
 u'(40.6661202, -73.8222416)',
 16,
 u'(40.7666318, -73.8890253)',
 16,
 u'(40.610508, -74.09576)',
 16,
 u'(40.7564521, -73.9703154)',
 16,
 u'(40.8117504, -73.9314376)',
 16,
 u'(40.7437832, -73.9735076)',
 16,
 u'(40.7861411, -73.9392802)',
 16,
 u'(40.827335, -73.8497904)',
 16,
 u'(40.69365, -73.98333)',
 16,
 u'(40.723698, -74.00792)',
 16,
 u'(40.723648, -73.99103)',
 16,
 u'(40.6086217, -74.1482289)',
 16,
 u'(40.805073, -73.92331)',
 16,
 u'(40.771374, -73.877144)',
 16,
 u'(40.798534, -73.923035)',
 16,
 u'(40.7184302, -74.0005303)',
 16,
 u'(40.680016, -73.87743)',
 16,
 u'(40.6241708, -73.9704715)',
 16,
 u'(40.7132852, -73.7357924)',
 16,
 u'(40.679737, -73.76162)',
 16,
 u'(40.84506, -73.916855)',
 16,
 u'(40.764267, -73.722946)',
 16,
 u'(40.758981, -73.9959428)',
 16,
 u'(40.74947, -73.7564)',
 16,
 u'(40.7460347, -73.9344002)',
 16,
 u'(40.813374, -73.956276)',
 16,
 u'(40.83609, -73.87039)',
 16,
 u'(40.749824, -73.9722023)',
 16,
 u'(40.6929384, -73.8777598)',
 16,
 u'(40.8136659, -73.9312375)',
 16,
 u'(40.6099861, -73.9623778)',
 16,
 u'(40.60981, -73.92251)',
 16,
 u'(40.8653624, -73.8704197)',
 16,
 u'(40.6664524, -73.757631)',
 16,
 u'(40.6425396, -73.8765111)',
 16,
 u'(40.7008398, -73.9949394)',
 16,
 u'(40.716194, -73.996086)',
 16,
 u'(40.63043, -73.88593)',
 16,
 u'(40.7500991, -73.9749344)',
 16,
 u'(40.6830971, -73.8057517)',
 16,
 u'(40.7263443, -73.7650719)',
 15,
 u'(40.798256, -73.92402)',
 15,
 u'(40.757828, -73.99308)',
 15,
 u'(40.733536, -73.87035)',
 15,
 u'(40.7631141, -73.9625151)',
 15,
 u'(40.783245, -73.94473)',
 15,
 u'(40.771305, -73.87664)',
 15,
 u'(40.737553, -73.85089)',
 15,
 u'(40.71702, -73.830505)',
 15,
 u'(40.8449171, -73.92637)',
 15,
 u'(40.89466, -73.86137)',
 15,
 u'(40.7005823, -73.8077418)',
 15,
 u'(40.7489858, -73.979955)',
 15,
 u'(40.6463789, -73.97084)',
 15,
 u'(40.6655218, -73.7446568)',
 15,
 u'(40.8281151, -73.9310592)',
 15,
 u'(40.667114, -73.834656)',
 15,
 u'(40.770332, -73.87608)',
 15,
 u'(40.6056732, -74.0309361)',
 15,
 u'(40.764651, -73.823484)',
 15,
 u'(40.667236, -73.770004)',
 15,
 u'(40.678722, -73.952995)',
 15,
 u'(40.766359, -73.8875543)',
 15,
 u'(40.65616, -73.76736)',
 15,
 u'(40.7157218, -73.8257329)',
 15,
 u'(40.7967405, -73.9292434)',
 15,
 u'(40.843994, -73.89752)',
 15,
 u'(40.74478, -73.9758819)',
 15,
 u'(40.5610915, -74.1698275)',
 15,
 u'(40.6664063, -73.8026224)',
 15,
 u'(40.7965332, -73.9759553)',
 15,
 u'(40.869335, -73.8255)',
 15,
 u'(40.78214, -73.824844)',
 15,
 u'(40.742283, -74.004425)',
 15,
 u'(40.704494, -73.81743)',
 15,
 u'(40.6098096, -73.9224976)',
 15,
 u'(40.68405, -73.97746)',
 15,
 u'(40.7627471, -73.8332862)',
 15,
 u'(40.6265698, -73.9709207)',
 15,
 u'(40.673107, -73.99959)',
 15,
 u'(40.7492864, -73.7566341)',
 15,
 u'(40.7626784, -73.9543321)',
 15,
 u'(40.753788, -73.744286)',
 15,
 u'(40.631706, -73.94649)',
 15,
 u'(40.6433056, -73.9740952)',
 15,
 u'(40.87831, -73.870155)',
 15,
 u'(40.678236, -73.8975198)',
 15,
 u'(40.8341156, -73.8632633)',
 15,
 u'(40.6662366, -73.7609885)',
 15,
 u'(40.767612, -73.950005)',
 15,
 u'(40.651863, -73.86536)',
 15,
 u'(40.844105, -73.898)',
 15,
 u'(40.6105113, -74.0957491)',
 15,
 u'(40.8173878, -73.922758)',
 15,
 u'(40.6503881, -73.958708)',
 14,
 u'(40.65136, -73.86971)',
 14,
 u'(40.6673148, -73.7392454)',
 14,
 u'(40.8563835, -73.826302)',
 14,
 u'(40.668495, -73.925606)',
 14,
 u'(40.6206653, -74.1671374)',
 14,
 u'(40.63552, -74.0167)',
 14,
 u'(40.5861006, -73.9323639)',
 14,
 u'(40.7404542, -73.8443632)',
 14,
 u'(40.8238325, -73.876232)',
 14,
 u'(40.699955, -73.98682)',
 14,
 u'(40.702595, -73.8553)',
 14,
 u'(40.6444315, -73.9295994)',
 14,
 u'(40.750766, -73.9744433)',
 14,
 u'(40.626568, -73.970924)',
 14,
 u'(40.7549013, -73.7454772)',
 14,
 u'(40.7643229, -73.977196)',
 14,
 u'(40.704388, -73.994576)',
 14,
 u'(40.672886, -73.99922)',
 14,
 u'(40.7523789, -73.9703425)',
 14,
 u'(40.75455, -73.74317)',
 14,
 u'(40.62418, -73.97048)',
 14,
 u'(40.761234, -73.96389)',
 14,
 u'(40.800594, -73.92862)',
 14,
 u'(40.684258, -73.84604)',
 14,
 u'(40.8764729, -73.8705687)',
 14,
 u'(40.7254507, -73.8377671)',
 14,
 u'(40.5928174, -73.908068)',
 14,
 u'(40.8059, -73.92523)',
 14,
 u'(40.7578281, -73.9930696)',
 14,
 u'(40.689144, -73.99071)',
 14,
 u'(40.747009, -73.9771875)',
 14,
 u'(40.68424, -73.8460949)',
 14,
 u'(40.6774132, -73.9303181)',
 14,
 u'(40.711037, -73.7280965)',
 14,
 u'(40.8358751, -73.8698973)',
 14,
 u'(40.7170219, -73.830499)',
 14,
 u'(40.79801, -73.827065)',
 14,
 u'(40.7303695, -73.9138714)',
 14,
 u'(40.6662604, -73.995945)',
 14,
 u'(40.806797, -73.92458)',
 14,
 u'(40.7602226, -73.967462)',
 14,
 u'(40.7192038, -73.9903644)',
 14,
 u'(40.6977347, -73.8140794)',
 14,
 u'(40.75578, -74.00199)',
 14,
 u'(40.760925, -73.96705)',
 14,
 u'(40.7487997, -73.969846)',
 14,
 u'(40.744778, -73.97589)',
 14,
 u'(40.7225499, -74.006299)',
 14,
 u'(40.7446461, -73.7703999)',
 14,
 u'(40.6059516, -74.0760061)',
 14,
 u'(40.77882, -73.953995)',
 14,
 u'(40.65317, -73.866875)',
 14,
 u'(40.7589494, -73.9684806)',
 14,
 u'(40.6936492, -73.9833217)',
 14,
 u'(40.71843, -74.000534)',
 14,
 u'(40.6328856, -73.9476978)',
 14,
 u'(40.86832, -73.8331589)',
 14,
 u'(40.744892, -73.77022)',
 14,
 u'(40.8063462, -73.9331715)',
 14,
 u'(40.669476, -73.919975)',
 13,
 u'(40.7532425, -73.9666173)',
 13,
 u'(40.7092, -73.9919)',
 13,
 u'(40.6512513, -73.8689472)',
 13,
 u'(40.842503, -73.9279597)',
 13,
 u'(40.8035936, -73.9197796)',
 13,
 u'(40.7168135, -73.9977634)',
 13,
 u'(40.7414726, -73.8227997)',
 13,
 u'(40.5765028, -74.1036882)',
 13,
 u'(40.722576, -73.94049)',
 13,
 u'(40.67578, -74.0014)',
 13,
 u'(40.66895, -73.9339)',
 13,
 u'(40.66552, -73.74467)',
 13,
 u'(40.73715, -73.930824)',
 13,
 u'(40.7979463, -73.9400231)',
 13,
 u'(40.751446, -74.001434)',
 13,
 u'(40.74327, -73.961464)',
 13,
 u'(40.60567, -74.030945)',
 13,
 u'(40.6685062, -73.9256052)',
 13,
 u'(40.717014, -73.82971)',
 13,
 u'(40.753791, -73.7442778)',
 13,
 u'(40.766712, -73.98289)',
 13,
 u'(40.66645, -73.75764)',
 13,
 u'(40.7712888, -73.9466928)',
 13,
 u'(40.828125, -73.84105)',
 13,
 u'(40.64254, -73.87652)',
 13,
 u'(40.7595273, -73.999242)',
 13,
 u'(40.6094167, -73.9676868)',
 13,
 u'(40.7545534, -73.7431647)',
 13,
 u'(40.6985448, -73.9623489)',
 13,
 u'(40.737682, -73.85206)',
 13,
 u'(40.816554, -73.9195436)',
 13,
 u'(40.728233, -73.8331189)',
 13,
 u'(40.808163, -73.92653)',
 13,
 u'(40.68659, -74.00842)',
 13,
 u'(40.761173, -73.95789)',
 13,
 u'(40.7457274, -73.9781227)',
 13,
 u'(40.6114589, -74.1525344)',
 13,
 u'(40.67619, -73.9081)',
 13,
 u'(40.769115, -73.98856)',
 13,
 u'(40.7031321, -73.8167895)',
 13,
 u'(40.83887, -73.87811)',
 13,
 u'(40.815845, -73.89544)',
 13,
 u'(40.8043758, -73.9374202)',
 13,
 u'(40.570465, -74.10977)',
 13,
 u'(40.6671159, -73.8346499)',
 13,
 u'(40.748924, -73.937386)',
 13,
 u'(40.6663247, -73.8347993)',
 13,
 u'(40.804695, -73.92239)',
 13,
 u'(40.7514468, -74.0014293)',
 13,
 u'(40.8097014, -73.9030288)',
 13,
 u'(40.7632462, -73.7580499)',
 13,
 u'(40.8354859, -73.9493936)',
 13,
 u'(40.881264, -73.83875)',
 13,
 u'(40.750763, -73.97446)',
 13,
 u'(40.806828, -73.93432)',
 13,
 u'(40.7711989, -73.8334434)',
 13,
 u'(40.695908, -73.98322)',
 13,
 u'(40.7118451, -73.8597598)',
 13,
 u'(40.754584, -73.9991446)',
 13,
 u'(40.72293, -73.98865)',
 13,
 u'(40.7624884, -73.9629739)',
 13,
 u'(40.722499, -73.940404)',
 13,
 u'(40.8133899, -73.9562587)',
 13,
 u'(40.837894, -73.88138)',
 13,
 u'(40.740017, -73.84565)',
 13,
 u'(40.6145627, -74.1565458)',
 13,
 u'(40.7584292, -73.9926328)',
 13,
 u'(40.6761899, -73.9080899)',
 13,
 u'(40.73329, -73.98719)',
 13,
 u'(40.7560994, -73.7465393)',
 13,
 u'(40.73736, -73.99685)',
 13,
 u'(40.7185558, -73.9882)',
 13,
 u'(40.7577007, -73.9693944)',
 13,
 u'(40.815755, -73.8952779)',
 13,
 u'(40.7548762, -73.9685222)',
 13,
 u'(40.58525, -73.98728)',
 13,
 u'(40.758427, -73.99264)',
 13,
 u'(40.7497328, -73.9360965)',
 13,
 u'(40.8448864, -73.9072833)',
 13,
 u'(40.706657, -74.015915)',
 12,
 u'(40.7388442, -73.8140362)',
 12,
 u'(40.884735, -73.8156998)',
 12,
 u'(40.607185, -74.16239)',
 12,
 u'(40.7188655, -73.9748205)',
 12,
 u'(40.6962153, -73.9752686)',
 12,
 u'(40.78296, -73.94403)',
 12,
 u'(40.76465, -73.823494)',
 12,
 u'(40.8859908, -73.827914)',
 12,
 u'(40.8460323, -73.9303343)',
 12,
 u'(40.71918, -73.99029)',
 12,
 u'(40.677208, -73.89723)',
 12,
 u'(40.6505297, -73.9558249)',
 12,
 u'(40.7642781, -73.9730158)',
 12,
 u'(40.8953759, -73.8635575)',
 12,
 u'(40.72225, -74.00592)',
 12,
 u'(40.7623963, -73.9786009)',
 12,
 u'(40.6674319, -73.7667546)',
 12,
 u'(40.6666971, -73.7671284)',
 12,
 u'(40.7220991, -73.7777101)',
 12,
 u'(40.744099, -73.9956441)',
 12,
 u'(40.7288583, -73.9278098)',
 12,
 u'(40.7375371, -73.9299449)',
 12,
 u'(40.762486, -73.96298)',
 12,
 u'(40.6259754, -73.9762346)',
 12,
 u'(40.632885, -73.94771)',
 12,
 u'(40.749825, -73.972206)',
 12,
 u'(40.70145, -73.989624)',
 12,
 u'(40.8446076, -73.9034715)',
 12,
 u'(40.675632, -73.89878)',
 12,
 u'(40.762966, -73.973976)',
 12,
 u'(40.80988, -73.90308)',
 12,
 u'(40.8617, -73.89139)',
 12,
 u'(40.665794, -73.7464)',
 12,
 u'(40.7483561, -74.0036885)',
 12,
 u'(40.712616, -73.96951)',
 12,
 u'(40.663227, -73.93159)',
 12,
 u'(40.817875, -73.89333)',
 12,
 u'(40.8177952, -73.8931829)',
 12,
 u'(40.608223, -74.1294)',
 12,
 u'(40.86832, -73.83317)',
 12,
 u'(40.66743, -73.76676)',
 12,
 u'(40.665882, -73.99642)',
 12,
 u'(40.6687978, -73.9311201)',
 12,
 u'(40.6763431, -73.910927)',
 12,
 u'(40.814636, -73.795815)',
 12,
 u'(40.7168259, -73.8201832)',
 12,
 u'(40.7549, -73.74548)',
 12,
 u'(40.7676137, -73.9499947)',
 12,
 u'(40.7452931, -73.9984879)',
 12,
 u'(40.763546, -73.969345)',
 12,
 u'(40.75939, -73.98508)',
 12,
 u'(40.5958903, -74.0858762)',
 12,
 u'(40.6053345, -73.7552743)',
 12,
 u'(40.80682, -73.91749)',
 12,
 u'(40.7629131, -73.9697999)',
 12,
 u'(40.7447332, -73.9335895)',
 12,
 u'(40.6030702, -74.0166661)',
 12,
 u'(40.76311, -73.962524)',
 12,
 u'(40.8421121, -73.8255568)',
 12,
 u'(40.6304283, -73.8859266)',
 12,
 u'(40.820139, -73.89028)',
 12,
 u'(40.608852, -74.15334)',
 12,
 u'(40.750294, -73.99485)',
 12,
 u'(40.75426, -73.74334)',
 12,
 u'(40.8187987, -73.8921191)',
 12,
 u'(40.7583771, -73.9943762)',
 12,
 u'(40.759983, -73.964806)',
 12,
 u'(40.8735669, -73.8185175)',
 12,
 u'(40.61384, -73.981445)',
 12,
 u'(40.6247649, -73.9651721)',
 12,
 u'(40.857365, -73.84657)',
 12,
 u'(40.7534092, -73.8523438)',
 12,
 u'(40.8353094, -73.9439682)',
 12,
 u'(40.6834565, -73.9756156)',
 12,
 u'(40.75837, -201.23706)',
 12,
 u'(40.582287, -74.16907)',
 12,
 u'(40.676342, -73.910934)',
 12,
 u'(40.742657, -73.846214)',
 12,
 u'(40.760536, -73.95836)',
 12,
 u'(40.660656, -73.885796)',
 12,
 u'(40.818558, -73.92732)',
 12,
 u'(40.745293, -73.9985)',
 12,
 u'(40.757233, -73.9898)',
 12,
 u'(40.7548668, -73.852537)',
 12,
 u'(40.7171751, -74.0128675)',
 12,
 u'(40.7489156, -73.9373965)',
 12,
 u'(40.7270726, -73.7545575)',
 12,
 u'(40.8040166, -73.9309605)',
 12,
 u'(40.8335913, -73.8614964)',
 12,
 u'(40.7526925, -73.9730457)',
 12,
 u'(40.650806, -73.94958)',
 12,
 u'(40.5917559, -73.9082902)',
 12,
 u'(40.608307, -74.13132)',
 12,
 u'(40.6005903, -73.961364)',
 12,
 u'(40.6975581, -73.8527719)',
 12,
 u'(40.747627, -73.976746)',
 12,
 u'(40.815685, -73.9583)',
 12,
 u'(40.69993, -73.96188)',
 12,
 u'(40.699718, -73.961813)',
 12,
 u'(40.813255, -73.93028)',
 12,
 u'(40.7605353, -73.9583509)',
 12,
 u'(40.8439607, -73.8977911)',
 12,
 ...]

In [ ]:
df.select("CONTRIBUTING_FACTOR_VEHICLE_2").distinct().rdd.flatMap(lambda x: x).collect()

In [ ]:
df.select("CONTRIBUTING_FACTOR_VEHICLE_1").distinct().rdd.flatMap(lambda x: x).collect()